<!DOCTYPE html>
<!--Gem Store Directive -->  
<html ng-app="gemStore">
    <head>
      <link rel="stylesheet" type="text/css" href="CSS/bootstrap.min.css" />
      <script type="text/javascript" src="JS/angular.min.js"></script>
      <script type="text/javascript" src="JS/app.js"></script>
        
    </head>
    <!--StoreController-->
    <!--Hide Product if sold out is true-->
    <body class="container" ng-controller="StoreController as store">
        <header>
            <h1 class="text-center">Flatlander Crafted Gems</h1>
            <h2 class="text-center">– an Angular store –</h2>
        </header>
        <!--Products Container-->
        <div class="list-group">
            <!--Product Container-->
            <!--Loop through all products with ng-repeat-->
            <div class="list-group-item" ng-repeat="product in store.products" ng-hide="product.soldOut">
                <h3>
                <!--Product name-->
                {{product.name}}
                <!--Product price-->
                <em class="pull-right">{{product.price | currency}}</em>
                </h3>
                <!--Show Add to Cart Button if canPurchase is true-->
                <button ng-show="product.canPurchase">Add to Cart</button>
                <!--Only show gallery if there are images-->
                <section class="gallery" ng-show="product.images.length" ng-controller="GalleryController as gallery">
                    <!--Selected Image-->
                    <div class="img-wrap">
                        <img ng-src="{{product.images[gallery.current]}}"/>
                    </div>
                    <!--Thumbnails-->
                    <ul class="img-thumbnails clearfix">
                        <li class="small-image pull-left thumbnail" ng-repeat=" image in product.images">
                            <img ng-src="{{image}}" />
                        </li>
                    </ul>
                </section>
                <section class="tab" ng-controller="TabController as tab">
                    <ul class="nav nav-pills">
                        <li ng-class="{active: tab.isSet(1)}">
                            <a href ng-click="tab.setTab(1)">Description</a>
                        </li>
                        <li ng-class="{active: tab.isSet(2)}">
                            <a href ng-click="tab.setTab(2)">Specifications</a>
                        </li>
                        <li ng-class="{active: tab.isSet(3)}">
                            <a href ng-click="tab.setTab(3)">Reviews</a>
                        </li>
                    </ul>
                    <div ng-show="tab.isSet(1)">
                        <h4>Description</h4>
                        <blockquote>{{product.description}}</blockquote>
                    </div>
                    <div ng-show="tab.isSet(2)">
                        <h4>Specifications</h4>
                        <blockquote>Shine: {{product.shine}}</blockquote>
                    </div>
                    <div ng-show="tab.isSet(3)">
                        <ul>
                            <h4>Reviews</h4>
                            <!--Loop through all of the reviews-->
                            <li ng-repeat="reviews in product.reviews">
                                <blockquote>
                                    <strong>{{reviews.stars}} Stars</strong>
                                    {{reviews.body}}
                                    <cite class="clearfix">-{{reviews.author}}</cite>
                                </blockquote>
                            </li>
                        </ul>
                        
                        <!--Review Form-->
                        <!--Review Controller and ng-submit-->
                        <form name = "reviewForm" ng-controller="ReviewController as reviewCtrl" ng-submit="reviewCtrl.addReview(product)">
                            <!--Live Preview-->
                            <blockquote>
                                <strong>{{reviewCtrl.review.stars}} Stars</strong>
                                {{reviewCtrl.review.body}}
                                <cite class="clearfix">-{{reviewCtrl.review.author}}</cite>
                            </blockquote>
                            <!--Review Form-->
                            <h4>Submit a Review</h4>
                            <fieldset class="form-group">
                                <select class="form-control" ng-model="reviewCtrl.review.stars" ng-options="stars for stars in [5,4,3,2,1]" title="Stars">
                                    <option value="">Rate the Product</option>
                                </select>
                            </fieldset>
                            <fieldset class="form-group" >
                                <textarea class="form-control" ng-model="reviewCtrl.review.body" placeholder="Write a short review of the product..." title="Review"></textarea>
                            </fieldset>
                            <fieldset class="form-group" >
                                <input type="email" class="form-control" ng-model="reviewCtrl.review.author" placeholder="jimmyDean@example.org" title="Email" />
                            </fieldset>
                            <fieldset class="form-group">
                                <input type="submit" class="btn btn-primary pull-right" value="Submit Review" />
                            </fieldset>
                        </form>          
                    </div>
                </section>
            </div>    
        </div>
        
    </body>
</html>
